body{
    font-family: 'Roboto Slab', serif;
}
h1{
    font-size: 40px;
}
.purple-color{
    color:blueviolet
}
section{
    display:flex;
}
.half-width{
    width: 50%;
    padding: 1%;
}
.half-width img{
    width: 60%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(red, black);
    padding: 10px 30px;
    color: white;
    font-weight:600 ;
    border-radius: 6px;
}
.grow-bigger{
}
.half-width1{
    width: 50%;
    padding: 1%;
}
.half-width1 img{
    width: 60%;
}
.link-button1{
    text-decoration: none;
    background-image: linear-gradient(red, black);
    padding: 10px 30px;
    color: white;
    font-weight:600 ;
    border-radius: 6px;
}
.goal{

}
.half-width2{
    width: 50%;
    padding: 1%;
}
.link-button2{
    text-decoration: none;
    background-image: linear-gradient(red, black);
    padding: 10px 30px;
    color: white;
    font-weight:600 ;
    border-radius: 6px;
}
.half-width2 img{
    width: 60%;
}
.flexible-container1{

}
.fl-1{
    background-image: url(images/illustrators/illustrator-1.png);
}
.fl-2{
    background-image: url(images/illustrators/illustrator-2.png);
}
.fl-3{
    background-image: url(images/illustrators/illustrator-3.png);
}